@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./images/cat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    color: white;
}

.container {
    height: auto;
    border: 2px solid rgba(255, 255, 255, 2);
    border-radius: 25px;
    padding: 40px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    text-align: center;
}

.input_field {
    display: grid;
    grid-template-columns: 2fr;
}

.input_field input {
    padding: 8px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 25px;
    outline: none;
    background-color: transparent;
    color: white;
}

::placeholder {
    color: white;
    opacity: 0.8;
}

.input_field i {
    position: absolute;
    right: 0;
    left: 230px;
    margin-top: 32px;
}

.forgot {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-top: 10px;
}

.forgot a {
    color: white;
    text-decoration: none;
}

button {
    margin-top: 15px;
    padding: 8px 28px 8px 28px;
    border-radius: 25px;
    outline: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:375px) {
    .container{
        padding: 18px;
    }
}